@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-darkGray-700;
  font-family: sans-serif;
}

.scale-anim-95 {
  transform: scale(0.95);
}
.scale-anim-100 {
  transform: scale(1);
}
.scale-anim-115 {
  transform: scale(1.15);
}
.transform-duration-0 {
  transition: none;
}
.transform-duration-1 {
  transition: all 0.1s ease;
}
.transform-duration-15 {
  transition: all 0.15s ease;
}
.transform-duration-25 {
  transition: all 0.25s ease;
  /* transition: all 5s ease; */
}
.home-icon {
}

.flex-settings-left {
  flex: 1 0 218px;
}
.flex-settings-right {
  flex: 1 1 800px;
}

.width-sidebar {
  width: 240px;
}
.width-settings-sidebar {
  width: 218px;
}
.width-subSidebar {
  width: 72px;
}
.height-header {
  height: 48px;
}
.height-input {
  height: 28px;
}
.user-head-big {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.user-head-small {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.wh-square-sm {
  width: 32px;
  height: 32px;
}
.wh-square-md {
  width: 36px;
  height: 36px;
}
.children-mb-1 {
  margin-bottom: 0.25rem;
}
.children-mb-1:last-child {
  margin-bottom: 0;
}
.text-cs {
  font-size: 13px;
}
.text-xscs {
  font-size: 12px;
}
.children-mb-2 {
  margin-bottom: 0.5rem;
}
.children-mb-2:last-of-type {
  margin-bottom: 0;
}

.children-mb-3 {
  margin-bottom: 0.75rem;
}
.children-mb-3:last-child {
  margin-bottom: 0;
}

.children-mb-4 {
  margin-bottom: 1rem;
}
.children-mb-4:last-child {
  margin-bottom: 0;
}
